In [1]:
import pandas as pd
import numpy as np
import folium
from geopy.geocoders import Nominatim

In [2]:
## I am takinf covid 19 data set

In [3]:
df_covid=pd.read_csv('owid-covid-data.csv')

In [4]:
df_covid.shape

(19918, 32)

In [5]:
df_covid.head()

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN

In [6]:
## Im taking specific data of 2020-05-24 and rest im deleting from my data frame

In [7]:
df_covid=df_covid.drop(df_covid[df_covid['date'] != "2020-05-24"].index)

In [8]:
df_covid=df_covid.drop(df_covid[df_covid['location'] == "World"].index)

In [9]:
##Im making a copy of my data set for making choropleth map
## And in data frame im taking top 12 countries with most covid cases

In [10]:
df_covid_c=df_covid
df_covid=df_covid.nlargest(12, ['total_cases'])

In [11]:
df_covid

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
18784,USA,United States,2020-05-24,1622670,21236,97087,1080,4902.287,64.157,293.312,...,15.413,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77
2709,BRA,Brazil,2020-05-24,347398,16508,22013,965,1634.357,77.663,103.562,...,8.552,5.060,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.20
15892,RUS,Russia,2020-05-24,335882,9434,3388,139,2301.595,64.645,23.216,...,14.178,9.393,24765.954,0.1,431.297,6.18,23.4,58.3,NaN,8.05
6737,GBR,United Kingdom,2020-05-24,257154,2959,36675,282,3788.027,43.588,540.244,...,18.517,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54
5809,ESP,Spain,2020-05-24,235772,482,28752,74,5042.735,10.309,614.953,...,19.436,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,NaN,2.97
9589,ITA,Italy,2020-05-24,229327,669,32735,119,3792.922,11.065,541.416,...,23.021,16.240,35220.084,2.0,113.151,4.78,19.8,27.8,NaN,3.18
4713,DEU,Germany,2020-05-24,178281,431,8247,31,2127.866,5.144,98.432,...,21.453,15.957,45229.245,NaN,156.139,8.31,28.2,33.1,NaN,8.00
18205,TUR,Turkey,2020-05-24,155686,1186,4308,32,1845.954,14.062,51.080,...,8.153,5.061,25129.341,0.2,171.285,12.13,14.1,41.1,NaN,2.81
6447,FRA,France,2020-05-24,144806,240,28332,43,2218.450,3.677,434.050,...,19.718,13.079,38605.671,NaN,86.060,4.77,30.1,35.6,NaN,5.98
8999,IRN,Iran,2020-05-24,133521,1869,7359,59,1589.669,22.252,87.614,...,5.440,3.182,19082.620,0.2,270.308,9.59,0.8,21.1,NaN,1.50
8704,IND,India,2020-05-24,131868,6767,3867,147,95.556,4.904,2.802,...,5.989,3.414,6426.674,21.2,282.280,10.39,1.9,20.6,59.55,0.53
14782,PER,Peru,2020-05-24,115754,4056,3373,129,3510.692,123.014,102.299,...,7.151,4.455,12236.706,3.5,85.755,5.95,4.8,NaN,NaN,1.60

In [12]:
df_covid=df_covid.fillna(0)

In [13]:
df_covid

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
18784,USA,United States,2020-05-24,1622670,21236,97087,1080,4902.287,64.157,293.312,...,15.413,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,0.00,2.77
2709,BRA,Brazil,2020-05-24,347398,16508,22013,965,1634.357,77.663,103.562,...,8.552,5.060,14103.452,3.4,177.961,8.11,10.1,17.9,0.00,2.20
15892,RUS,Russia,2020-05-24,335882,9434,3388,139,2301.595,64.645,23.216,...,14.178,9.393,24765.954,0.1,431.297,6.18,23.4,58.3,0.00,8.05
6737,GBR,United Kingdom,2020-05-24,257154,2959,36675,282,3788.027,43.588,540.244,...,18.517,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,0.00,2.54
5809,ESP,Spain,2020-05-24,235772,482,28752,74,5042.735,10.309,614.953,...,19.436,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,0.00,2.97
9589,ITA,Italy,2020-05-24,229327,669,32735,119,3792.922,11.065,541.416,...,23.021,16.240,35220.084,2.0,113.151,4.78,19.8,27.8,0.00,3.18
4713,DEU,Germany,2020-05-24,178281,431,8247,31,2127.866,5.144,98.432,...,21.453,15.957,45229.245,0.0,156.139,8.31,28.2,33.1,0.00,8.00
18205,TUR,Turkey,2020-05-24,155686,1186,4308,32,1845.954,14.062,51.080,...,8.153,5.061,25129.341,0.2,171.285,12.13,14.1,41.1,0.00,2.81
6447,FRA,France,2020-05-24,144806,240,28332,43,2218.450,3.677,434.050,...,19.718,13.079,38605.671,0.0,86.060,4.77,30.1,35.6,0.00,5.98
8999,IRN,Iran,2020-05-24,133521,1869,7359,59,1589.669,22.252,87.614,...,5.440,3.182,19082.620,0.2,270.308,9.59,0.8,21.1,0.00,1.50
8704,IND,India,2020-05-24,131868,6767,3867,147,95.556,4.904,2.802,...,5.989,3.414,6426.674,21.2,282.280,10.39,1.9,20.6,59.55,0.53
14782,PER,Peru,2020-05-24,115754,4056,3373,129,3510.692,123.014,102.299,...,7.151,4.455,12236.706,3.5,85.755,5.95,4.8,0.0,0.00,1.60

In [14]:
df_covid.describe()

,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
count,1.200000e+01,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,1.200000e+01,12.000000,...,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,3.240099e+05,5486.416667,23011.333333,258.333333,2737.509167,37.040000,241.081667,1.882417,2.656018e+06,72477.916667,...,13.918417,9.324917,29087.566417,2.750000,178.905417,7.704167,16.641667,28.016667,4.962500,3.510833
std,4.163352e+05,6928.826550,26595.884662,364.422166,1475.743330,37.996517,229.992133,1.645948,4.430629e+06,126585.765856,...,6.534869,4.946055,14515.639493,5.947268,102.361870,2.610864,10.274369,14.128941,17.190604,2.477834
min,1.157540e+05,240.000000,3373.000000,31.000000,95.556000,3.677000,2.802000,0.107000,0.000000e+00,0.000000,...,5.440000,3.182000,6426.674000,0.000000,85.755000,4.280000,0.800000,0.000000,0.000000,0.530000
25%,1.419848e+05,622.250000,4197.750000,55.000000,1793.054750,9.017750,78.480500,0.589000,0.000000e+00,0.000000,...,7.902500,4.908750,17837.828000,0.175000,109.714000,5.657500,8.775000,20.975000,0.000000,2.050000
50%,2.038040e+05,2414.000000,15130.000000,124.000000,2260.022500,18.157000,102.930500,1.267500,4.002595e+05,9616.500000,...,14.795500,9.562500,29700.850500,0.600000,153.614000,7.640000,19.450000,26.250000,0.000000,2.790000
75%,2.768360e+05,7433.750000,29747.750000,180.750000,3789.250750,64.279000,460.598500,3.425250,3.069319e+06,69023.750000,...,19.506500,13.259000,38892.564250,2.350000,201.047750,9.790000,24.400000,33.725000,0.000000,3.880000
max,1.622670e+06,21236.000000,97087.000000,1080.000000,5042.735000,123.014000,614.953000,4.540000,1.416369e+07,378908.000000,...,23.021000,16.240000,54225.446000,21.200000,431.297000,12.130000,30.100000,58.300000,59.550000,8.050000

In [15]:
df_covid

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
18784,USA,United States,2020-05-24,1622670,21236,97087,1080,4902.287,64.157,293.312,...,15.413,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,0.00,2.77
2709,BRA,Brazil,2020-05-24,347398,16508,22013,965,1634.357,77.663,103.562,...,8.552,5.060,14103.452,3.4,177.961,8.11,10.1,17.9,0.00,2.20
15892,RUS,Russia,2020-05-24,335882,9434,3388,139,2301.595,64.645,23.216,...,14.178,9.393,24765.954,0.1,431.297,6.18,23.4,58.3,0.00,8.05
6737,GBR,United Kingdom,2020-05-24,257154,2959,36675,282,3788.027,43.588,540.244,...,18.517,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,0.00,2.54
5809,ESP,Spain,2020-05-24,235772,482,28752,74,5042.735,10.309,614.953,...,19.436,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,0.00,2.97
9589,ITA,Italy,2020-05-24,229327,669,32735,119,3792.922,11.065,541.416,...,23.021,16.240,35220.084,2.0,113.151,4.78,19.8,27.8,0.00,3.18
4713,DEU,Germany,2020-05-24,178281,431,8247,31,2127.866,5.144,98.432,...,21.453,15.957,45229.245,0.0,156.139,8.31,28.2,33.1,0.00,8.00
18205,TUR,Turkey,2020-05-24,155686,1186,4308,32,1845.954,14.062,51.080,...,8.153,5.061,25129.341,0.2,171.285,12.13,14.1,41.1,0.00,2.81
6447,FRA,France,2020-05-24,144806,240,28332,43,2218.450,3.677,434.050,...,19.718,13.079,38605.671,0.0,86.060,4.77,30.1,35.6,0.00,5.98
8999,IRN,Iran,2020-05-24,133521,1869,7359,59,1589.669,22.252,87.614,...,5.440,3.182,19082.620,0.2,270.308,9.59,0.8,21.1,0.00,1.50
8704,IND,India,2020-05-24,131868,6767,3867,147,95.556,4.904,2.802,...,5.989,3.414,6426.674,21.2,282.280,10.39,1.9,20.6,59.55,0.53
14782,PER,Peru,2020-05-24,115754,4056,3373,129,3510.692,123.014,102.299,...,7.151,4.455,12236.706,3.5,85.755,5.95,4.8,0.0,0.00,1.60

In [16]:
## Here im calculating a round no of death percentage

In [17]:
df_covid_c["death_percentage"]=round((df_covid_c["total_deaths"]/df_covid_c["total_cases"])*100)

In [18]:
df_covid

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
18784,USA,United States,2020-05-24,1622670,21236,97087,1080,4902.287,64.157,293.312,...,15.413,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,0.00,2.77
2709,BRA,Brazil,2020-05-24,347398,16508,22013,965,1634.357,77.663,103.562,...,8.552,5.060,14103.452,3.4,177.961,8.11,10.1,17.9,0.00,2.20
15892,RUS,Russia,2020-05-24,335882,9434,3388,139,2301.595,64.645,23.216,...,14.178,9.393,24765.954,0.1,431.297,6.18,23.4,58.3,0.00,8.05
6737,GBR,United Kingdom,2020-05-24,257154,2959,36675,282,3788.027,43.588,540.244,...,18.517,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,0.00,2.54
5809,ESP,Spain,2020-05-24,235772,482,28752,74,5042.735,10.309,614.953,...,19.436,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,0.00,2.97
9589,ITA,Italy,2020-05-24,229327,669,32735,119,3792.922,11.065,541.416,...,23.021,16.240,35220.084,2.0,113.151,4.78,19.8,27.8,0.00,3.18
4713,DEU,Germany,2020-05-24,178281,431,8247,31,2127.866,5.144,98.432,...,21.453,15.957,45229.245,0.0,156.139,8.31,28.2,33.1,0.00,8.00
18205,TUR,Turkey,2020-05-24,155686,1186,4308,32,1845.954,14.062,51.080,...,8.153,5.061,25129.341,0.2,171.285,12.13,14.1,41.1,0.00,2.81
6447,FRA,France,2020-05-24,144806,240,28332,43,2218.450,3.677,434.050,...,19.718,13.079,38605.671,0.0,86.060,4.77,30.1,35.6,0.00,5.98
8999,IRN,Iran,2020-05-24,133521,1869,7359,59,1589.669,22.252,87.614,...,5.440,3.182,19082.620,0.2,270.308,9.59,0.8,21.1,0.00,1.50
8704,IND,India,2020-05-24,131868,6767,3867,147,95.556,4.904,2.802,...,5.989,3.414,6426.674,21.2,282.280,10.39,1.9,20.6,59.55,0.53
14782,PER,Peru,2020-05-24,115754,4056,3373,129,3510.692,123.014,102.299,...,7.151,4.455,12236.706,3.5,85.755,5.95,4.8,0.0,0.00,1.60

In [19]:
ar=df_covid["iso_code"].to_numpy()

In [20]:
ar

array(['USA', 'BRA', 'RUS', 'GBR', 'ESP', 'ITA', 'DEU', 'TUR', 'FRA',
       'IRN', 'IND', 'PER'], dtype=object)

In [21]:
## here im collecting longtidu and latitude of countries from api to create bubble map

In [22]:
import time
ar_lo = []
ar_la = []
geolocator = Nominatim()
for x in ar:
    time.sleep( 2 )
    try:
        loc = geolocator.geocode(x[:2])
        print(loc)
        ar_lo.append(loc.longitude)
        ar_la.append(loc.latitude)
    except:
        ar_lo.append(None)
        ar_la.append(None)

<ipython-input-22-92c4809dc6f5>:4: DeprecationWarning: Using Nominatim with the default "geopy/1.22.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  geolocator = Nominatim()

United States
Brasil
Россия
United Kingdom
España
Italia
Deutschland
Tungurahua, Ecuador
France
ایران
India
Perú

In [23]:

s_long = pd.Series(ar_lo,name='long')
s_late = pd.Series(ar_la,name="late")

In [24]:
s_long
ar_lo

[-100.4458825,
 -53.2,
 97.7453061,
 -3.2765753,
 -4.8380649,
 12.674297,
 10.4234469,
 -78.4754667,
 1.8883335,
 54.5643516,
 78.6677428,
 -75.0458515]

In [25]:
df_covid.reset_index(inplace=True)

In [26]:
df_covid=pd.concat([df_covid,s_late,s_long], axis=1)

In [27]:
df_covid

,index,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k,late,long
0,18784,USA,United States,2020-05-24,1622670,21236,97087,1080,4902.287,64.157,...,54225.446,1.2,151.089,10.79,19.1,24.6,0.00,2.77,39.783730,-100.445882
1,2709,BRA,Brazil,2020-05-24,347398,16508,22013,965,1634.357,77.663,...,14103.452,3.4,177.961,8.11,10.1,17.9,0.00,2.20,-10.333333,-53.200000
2,15892,RUS,Russia,2020-05-24,335882,9434,3388,139,2301.595,64.645,...,24765.954,0.1,431.297,6.18,23.4,58.3,0.00,8.05,64.686314,97.745306
3,6737,GBR,United Kingdom,2020-05-24,257154,2959,36675,282,3788.027,43.588,...,39753.244,0.2,122.137,4.28,20.0,24.7,0.00,2.54,54.702354,-3.276575
4,5809,ESP,Spain,2020-05-24,235772,482,28752,74,5042.735,10.309,...,34272.360,1.0,99.403,7.17,27.4,31.4,0.00,2.97,39.326234,-4.838065
5,9589,ITA,Italy,2020-05-24,229327,669,32735,119,3792.922,11.065,...,35220.084,2.0,113.151,4.78,19.8,27.8,0.00,3.18,42.638426,12.674297
6,4713,DEU,Germany,2020-05-24,178281,431,8247,31,2127.866,5.144,...,45229.245,0.0,156.139,8.31,28.2,33.1,0.00,8.00,51.083420,10.423447
7,18205,TUR,Turkey,2020-05-24,155686,1186,4308,32,1845.954,14.062,...,25129.341,0.2,171.285,12.13,14.1,41.1,0.00,2.81,-1.276590,-78.475467
8,6447,FRA,France,2020-05-24,144806,240,28332,43,2218.450,3.677,...,38605.671,0.0,86.060,4.77,30.1,35.6,0.00,5.98,46.603354,1.888334
9,8999,IRN,Iran,2020-05-24,133521,1869,7359,59,1589.669,22.252,...,19082.620,0.2,270.308,9.59,0.8,21.1,0.00,1.50,32.647531,54.564352
10,8704,IND,India,2020-05-24,131868,6767,3867,147,95.556,4.904,...,6426.674,21.2,282.280,10.39,1.9,20.6,59.55,0.53,22.351115,78.667743
11,14782,PER,Peru,2020-05-24,115754,4056,3373,129,3510.692,123.014,...,12236.706,3.5,85.755,5.95,4.8,0.0,0.00,1.60,-6.869970,-75.045851

In [28]:
m = folium.Map(location=[0,0], tiles="Stamen Toner", zoom_start=2)

In [29]:
## Here im creating a bubble map with most cases country wise

In [30]:
for i in range(0,len(df_covid)):
    if np.isnan(df_covid.iloc[i]['long']):
        continue
    folium.Circle(
      geo_data="custom.geo.json",
      location=[ar_la[i],ar_lo[i]],
      popup="Deaths are "+str(df_covid.iloc[i]['total_deaths']),
      radius=int(df_covid.iloc[i]['total_cases']),
      color='crimson',
      fill=True,
      fill_color='crimson'
   ).add_to(m)

In [31]:
m.save('mymap.html')

In [32]:
m2 = folium.Map(location=[0,0], zoom_start=1.5)

In [33]:
## Here im creating choropleth map of all countries with the data of death percentage

In [34]:
folium.Choropleth(
    geo_data="custom.geo.json",
    name='choropleth',
    data=df_covid_c,
    columns=['location','death_percentage'],
    key_on='feature.properties.name',
    fill_color='YlOrRd',
    fill_opacity=0.9,
    line_opacity=0.5,
    bins=[0, 4, 8, 12, 16, 20, 24, 28],
    legend_name= 'death rate percentage'
).add_to(m2)

folium.LayerControl().add_to(m2)

In [216]:
m2.save('mymap2.html')